{% extends "web/base.html" %}
{% load static %}
{% block content %}
<article>
<h1 class="main_title">Как это работает</h1>
<div class="step_manual">
    <h2>Шаг 1. API-ключ.</h2>
    <img style="border: 1px solid black;" src="{% static '/img/manual_1.jpg' %}" title="Шаг №1. Введите API-ключ пользователя в соответсующее поле" alt="Шаг №1. Введите API-ключ пользователя в соответсующее поле">
    <p>Вставьте API-ключ пользователя в соответствующее поле и нажмите кнопку "Загрузить Roistat проекты". Если API-ключ действительный,
    на страницы отобразиться форма для работы с проектами. В противном случае Вы увидите сообщение об ошибке аутентификации.</p>
    <p>Вы также можете сохранить API-ключ в личном кабинете. Тогда Вам не придется каждый раз заполнять это поле, api-ключ будет автоматически загружаться.</p>
    <a href="https://help-ru.roistat.com/API/methods/about/#api-">Где найти api-ключ?</a>
</div><br>
<div class="step_manual">
    <h2>Шаг 2. Выбор проекта.</h2>
    <img style="border: 1px solid black;" src="{% static '/img/manual_2.jpg' %}" title="Шаг №2. Выберите проект" alt="Шаг №2. Выберите проект">
    <p>Если API-ключ действительный, после нажатия на кнопку "Загрузить Roistat проекты", отобразиться форма с возможностью выбора конкретного проекта для работы с ним.
    Выберите нужный вам проект из списка. Одномоментно можно работать только лишь с одним проектом.</p>
</div><br>
<div class="step_manual">
    <h2>Шаг 3. Укажите период времени для анализа данных.</h2>
    <img style="border: 1px solid black;" src="{% static '/img/manual_3.jpg' %}" title="Шаг 3. Укажите период времени для анализа данных" alt="Шаг 3. Укажите период времени для анализа данных">
    <p>Или оставьте поля пустыми, если Вам необходимо проанализировать данные за весь период существования проекта.</p>
    <p>Если Вы укажите "Начало", но оставите пустым поле "Конец", тогда в сравнение будут включены все номера телефонов с датой звонка,
    начиная с даты, указанной в поле "Начало", и по сегоднящний день включительно.</p>
    <p>Если Вы укажите "Конец", но оставите пустым поле "Начало", тогда в сравнение будут включены все номера телефонов с датой звонка,
    начиная с даты начала существования проекта, и до указанной в поле "Конец" даты включительно.</p>
</div><br>
<div class="step_manual">
    <h2>Шаг 4. Загрузите Excel-файл с номерами телефонов.</h2>
    <img style="border: 1px solid black;" src="{% static '/img/manual_4.jpg' %}" title="Шаг 4. Загрузите Excel-файл с номерами телефонов." alt="Шаг 4. Загрузите Excel-файл с номерами телефонов.">
    <p>Номера телефонов должны быть в таком же формате, что и в Roistat. Пример формата: "79998881122". Без "+", начинаясь с цифры "7".</p>
    <p>В первом столбце листа №1 excel-файла должны находится номера телефонов.</p>
    <p>Во втором столбце листа №1 excel-файла, напротив номеров телефонов, должна быть указана стоимость заявок.</p>
    <p>Стоит учитывать, что все слова, случайные наборы цифр, букв или символов, которые встретятся в диапазоне ячеек с номерами телефонов, также будут засчитаны как
    уникальные номера телефонов и добавлены в результат.</p>
</div><br>
<div class="step_manual">
    <h2>Шаг 5. Результат сравнения.</h2>
    <img style="border: 1px solid black; width: 700px;" src="{% static '/img/manual_7.jpg' %}" title="Шаг 7. Результат сравнения." alt="Шаг 7. Результат сравнения.">
    <p>Краткая информация результата сравнения будет выведена внизу формы.</p>
    <p>Ознакомиться с детальной информацией Вы можете, сохранив результат в excel-файле, для этого нажмите кнопку "Сохранить результат в Excel-файл".</p>
</div>
</article>
{% endblock content %}